/* app/components/dmc/DmcBestTime.module.css */

.bestTime {
  padding: 0px 0 60px;
  background: #f3efeb;
}

/* CARD */
.card {
  max-width: 900px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 24px;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  border: 1px solid #eaeaea;
}

/* ICON */
.icon {
  color: #f57c00;
  font-size: 30px;
  margin-top: 3px;
}

/* CONTENT */
.content {
  flex: 1;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}
.title {
  font-size: 20px !important;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 6px;
}

.description {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

/* ======================
   RESPONSIVE
====================== */

@media (max-width: 576px) {
  .bestTime {
    padding: 40px 15px;
  }

  .card {
    padding: 16px;
  }

  .title {
    font-size: 16px;
  }

  .description {
    font-size: 13px;
  }

  .icon {
    font-size: 16px;
  }
}